<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 class="mc-display-1">
    Books <small class="mc-small-text" *ngIf="!newVersionIsAvailable">Press "Enter" for search</small>
    <button *ngIf="newVersionIsAvailable"
            (click)="reload()"
            mc-button
            color="primary"
            class="layout-margin-sm">New version!</button>
  </h1>
  
  <div class="search-box">
    <mc-form-field>
        <input mcInput [placeholder]="'Enter a book name'" (keydown.enter)="q.next(value)" [(ngModel)]="value">         
    </mc-form-field>
  </div>
  
  <div class="links">
      <a class="mc-link mc-link_dashed" *ngFor="let w of lastQ" (click)="q.next(w); value = w;">
          <span class="mc-link__text">{{w}}</span>
      </a>
  </div>
  <hr>  
  <div>

    <div class="layout-row layout-wrap block">

      <div [hidden]="!loading">
        Loading ...
      </div>
      <div *ngIf="books.length === 0">
        No books
      </div>
      <div [hidden]="loading" class="book-card" *ngFor="let book of books">
        <img [src]="book?.volumeInfo?.imageLinks?.thumbnail"
             onError="this.src='/assets/no-img.jpg';">
        <div class="mc-subheading">{{book?.volumeInfo?.title}}</div>
        <div class="mc-body">{{book?.volumeInfo?.authors?.join(', ')}}</div>
      </div>


    </div>

  </div>
</div>

